/* Services.css */
.services {
  padding: 80px 20px;
  text-align: center;
}

.services h2 {
  color: #c2185b;
  font-size: 2rem;
}

.services-list {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.service-item {
  background-color: #fff0f5;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
}

/* Mobile */
@media (max-width: 768px) {
  .services-list {
    flex-direction: column;
    align-items: center;
  }

  .service-item {
    width: 90%;
  }
}